.first-row{
	border-bottom: 1px solid black;
}
.first-col{
	border-right: 1px solid black;
}
span{
	font-size: 0.1rem;
    display: inline-block;
}

img{
	width:30px;
}

// .ion-col.first-col.hydrated{
// 	width:30px;
// 	height: 30px
// }

