<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
      <ion-row class = "first-row">
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/recursive.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/rodless.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/tear.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/vest.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/cloak.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/belt.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/spatula.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/infinity.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/sword-divine.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/hextech.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/shojin.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/guardian.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bloodlust.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/zeke.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/recursive.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/rodless.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/tear.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/vest.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/cloak.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/belt.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>

      </ion-row>
      <ion-row>
        <ion-col class = "first-col"><img src= "../assets/item-drops/spatula.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/bf-sword.png"></ion-col>
        <ion-col><img src= "../assets/item-drops/yommu.png"></ion-col>
      </ion-row>

    </ion-grid>
 <!--    <img src = " ../assets/item-drops/items.png"> -->
</ion-content>
